/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: $primary-mask-color;
  }
  .background-secondary {
    background: $background-secondary;
  }
  .background-tertiary {
    background: $link-color;
  }
  .background-quaternary {
    background: $background-quaternary;
  }
  .background-quinary {
    background: $background-quinary;
  }